@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(36, 100%, 99%) !important;
}

.nav-link,
p {
  color: hsl(236, 13%, 42%) !important;
}

nav .nav-link:hover {
  color: hsl(5, 85%, 63%) !important;
}

h1 {
  color: hsl(240, 100%, 5%);
  ont-size: 3rem !important;
}

h2 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
}
p {
  font-size: 15px;
}

.showcase-img-container {
  height: 260px;
}

.showcase-img-container img {
  height: 260px;
  width: 100%;
}

.btn {
  background-color: hsl(5, 85%, 63%) !important;
  border-radius: 0 !important;
  color: hsl(36, 100%, 99%) !important;
}

.btn:hover {
  background-color: hsl(240, 100%, 5%) !important;
}

aside {
  background-color: hsl(240, 100%, 5%);
}

aside .nav-link {
  color: hsl(36, 100%, 99%) !important;
  font-size: 1.3rem;
}

aside .nav-link:hover {
  color: hsl(35, 77%, 62%) !important;
}

aside p {
  color: hsl(233, 8%, 79%) !important;
}

aside hr {
  color: hsl(233, 8%, 79%);
}
