@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(36, 100%, 99%) !important;
}

.nav-link,
p {
  color: hsl(236, 13%, 42%) !important;
}

nav .nav-link:hover {
  color: hsl(5, 85%, 63%) !important;
}

h1 {
  color: hsl(240, 100%, 5%);
  font-size: 3.4rem !important;
}

h2 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
}

p {
  font-size: 15px;
}

.showcase-img-container {
  height: 260px;
}

.showcase-img-container img {
  height: 260px;
  width: 100%;
}

.btn {
  background-color: hsl(5, 85%, 63%) !important;
  border-radius: 0 !important;
  color: hsl(36, 100%, 99%) !important;
}

.btn:hover {
  background-color: hsl(240, 100%, 5%) !important;
}

aside {
  background-color: hsl(240, 100%, 5%);
}

aside .nav-link {
  color: hsl(36, 100%, 99%) !important;
  font-size: 1.3rem;
}

aside .nav-link:hover {
  color: hsl(35, 77%, 62%) !important;
}

aside p {
  color: hsl(233, 8%, 79%) !important;
}

aside hr {
  color: hsl(233, 8%, 79%);
}

.top-trends {
  margin: 50px 0 30px;
}

.top-trends-img-container {
  min-height: 120px;
}

.top-trends-img {
  min-height: 120px;
  width: 110px;
  object-fit: cover;
  display: block;
}

.top-trends-info-container {
}

.top-trends h2 {
  color: hsl(233, 8%, 79%);
}

.top-trends .nav-link {
  color: hsl(240, 100%, 5%) !important;
  font-weight: 800;
}

.top-trends .nav-link:hover {
  color: hsl(5, 85%, 63%) !important;
}

@media (max-width: 576px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
    width: 65vw;
    z-index: 1;
    padding-top: 45px;
    padding-right: 20px;
  }

  .menu-icon-container {
  }
  .menu-container {
    display: block !important;
    margin-top: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column !important;
    margin-top: 100px;
    margin-left: 15px;
  }
  .menu .nav-item {
    margin-bottom: 10px;
  }
  .menu .nav-link {
    color: hsl(240, 100%, 5%) !important;
    font-weight: 500;
  }
}
